.popup__button-save{
  margin: 18px 36px 37px 36px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity ease-in-out 0.4s;
}
.popup__button-save:hover{
  opacity: 0.8;
}
@media screen and (max-width:550px) {
  .popup__button-save{
    margin: 15px 22px 25px 22px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}