.page__header{
  margin: 0 200px;
  padding-top: 45px;
}
@media screen and (max-width:1080px) {
  .page__header{
    margin: 0 100px;
  }
}
@media screen and (max-width:880px) {
  .page__header{
    margin: 0 50px;
  }
}
@media screen and (max-width:550px) {
  .page__header{
    margin: 0 27px;
    padding-top: 28px;
  }
}
