.root {
  background-color: #000;
}
.root__page{
  margin: 0 auto;
}
.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #FFF;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width:1280px;
  }
.header {
  max-width: 880px;
}

.page__header{
  margin: 0 200px;
  padding-top: 45px;
}
.logo {
  max-width: 142px;
}
.page__line{
  max-width:880px;
  margin: 41px 200px 36.25px 200px;
  height: 1px;
  background-color: #545454;
  opacity: 70%;
}
.profile {
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  
  overflow: hidden;
}
.page__profile{
  margin: 0 200px 47.25px 200px;
}
.profile__avatar-info{
  display: flex;
}
.profile__avatar {
  margin: 0 30px 0 0; 
  align-self: center;
}
.profile__info {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px 18px;
  grid-template-areas: 
  "name edit"
  "subname .";
  overflow: hidden;
}
.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subname {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  grid-area:subname;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.edit-button {
  grid-area: edit;
  align-self: center;
  transition: opacity ease-in-out 0.4s;
}
.edit-button:hover{
  opacity: 0.6;
}
.add-button {
  background-image: url(./image/addbut.svg);
  transition: opacity ease-in-out 0.4s;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
}
.add-button:hover{
  opacity: 0.6;
}
.elements {
  max-width: 880px;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;

}
.page__elements{
  margin: 0 200px;
}
.element {
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
}
.element__name-like{
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  align-items: center;
}
.element__image {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}
.element__name {
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 80%;
}
.like-button {
  background-image: url(./image/like.svg);
  height: 19px;
  width: 22px;
  margin: 0;
  transition: opacity ease-in-out 0.4s;
}
.like-button:hover{
  opacity: 0.5;
}
.like-button_active{
  background-image: url(./image/like_active.svg);
}
.footer {
  padding: 67px 0 60px 0;
}
.footer__copyrighting {
  margin: 0 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
.popup {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup_active{
  display: flex;
}
.popup_container {
  background-color: #FFF;
  border-radius: 10px;
  width: 430px;
  position: relative;
}
.popup__title {
  color: #000;
  margin: 34px 36px 54px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.popup__forms{
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}
.popup__form{
  border: 0;
  margin: 0 36px 30px 36px;
  height: 27px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}
.popup__button-save{
  margin: 18px 36px 37px 36px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity ease-in-out 0.4s;
}
.popup__button-save:hover{
  opacity: 0.8;
}
.popup__close{
  background: 0;
  border: 0;
  background-image: url(./image/Close.svg);
  position: absolute;
  right: -40px;
  top: -40px;
  height: 32px;
  width: 32px;
  transition: opacity ease-in-out 0.4s;
}
.popup__close:hover{
  opacity: 0.6;
}
@media screen and (max-width:1080px) {
  .page__header{
    margin: 0 100px;
  }
  .page__line{
    margin: 41px 100px 36.25px 100px;
  }
  .page__profile{
    margin: 0 100px 47.25px 100px;
  }
  .page__elements{
    margin: 0 100px;
  }
  .footer__copyrighting {
    margin: 0 100px;
  }  
}
@media screen and (max-width:880px) {
  .page__header{
    margin: 0 50px;
  }
  .page__line{
    margin: 41px 50px 36.25px 50px;
  }
  .page__profile{
    margin: 0 50px 47.25px 50px;
  }
  .page__elements{
    margin: 0 50px;
  }
  .footer__copyrighting {
    margin: 0 50px;
  }  
  .profile__name{
    font-size: 32px;
  }
  .profile__subname{
    font-size:14px;
  }
  .element__name{
    font-size:18px;
  }
  .element__name-like{
    margin: 18px 12px 24px 15px;
  }
  
}
@media screen and (max-width:680px) {
  .elements {
    gap: 20px 17px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
  .add-button {
    width: 100%;
    height: 50px;
    margin-top: 36px;
    background-image: url(./image/plus.png);
    background-size: inherit;
    background-position: center;
    border: #FFF 2px solid;
    box-sizing: border-box;
  }
  .profile{
    flex-direction: column;
  }
}
@media screen and (max-width:550px) {
  .page__header{
    margin: 0 27px;
    padding-top: 28px;
  }
  .logo {
    max-width: 104px;
  }
  .page__line{
    margin: 31.6px 0 38.25px 0;
    height: 1px;
    background-color: #545454;
    opacity: 70%;
  }
  .profile__avatar-info{
    flex-direction: column;
  }
  .profile__avatar{
    margin: 0 0 22.25px 0;
  }
  .profile__name{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
  .profile__subname{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .page__profile{
    margin: 0 19px 36px 19px;
  }
  .edit-button{
    height: 18px;
    width: 18px;
  }
  .profile__info{
    gap: 10px 14px;
    transform: translateX(18px);
  }
  .add-button{
    background-image:url(./image/miniplus.svg);
  }
  .elements{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .page__elements{
    margin: 0 19px;
  }
  .footer{
    padding:48px 0 36px 0;
  }
  .footer__copyrighting{
    font-size: 14px;
    line-height: 17px;
    margin: 0 19px;
  }
  .element__name{
    font-size: 24px;
    line-height: 29px;
  }
  .element__name-like{
    margin: 25px 15px 31px 21px;
  }
  .popup_container {
    width: calc(100% - 38px);
  }
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px 22px;
  }
  .popup__form{
    margin: 0 22px 30px 22px;
  }
  .popup__button-save{
    margin: 15px 22px 25px 22px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__close{
    height: 20px;
    width: 20px;
    right: 0;
    top: -36px;
    background-size: cover;
  }
}
