.popup__container {
  background-color: #FFF;
  border-radius: 10px;
  width: 430px;
  position: relative;
}
@media screen and (max-width:550px) {
  .popup__container{
    width: calc(100% - 38px);
  }
}