.element__name-like{
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  align-items: center;
}
@media screen and (max-width:880px) {
  .element__name-like{
    margin: 18px 12px 24px 15px;
  }
}
@media screen and (max-width:550px) {
  .element__name-like{
    margin: 25px 15px 31px 21px;
  }
}