.elements {
  max-width: 880px;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}
@media screen and (max-width:680px) {
  .elements {
    gap: 20px 17px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
}
@media screen and (max-width:550px) {
  .elements{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}