.element__name-like{
  display: flex;
  justify-content: space-between;
  margin: 22px 15px 22px 21px;
  align-items: center;
}
@media screen and (max-width:880px) {
  .element__name-like{
    margin: 22px 12px 22px 15px;
  }
}
@media screen and (max-width:550px) {
  .element__name-like{
    margin: 22px 15px 22px 21px;
  }
}