.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width:880px) {
  .profile__name{
    font-size: 32px;
  }
}
@media screen and (max-width:550px) {
  .profile__name{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}