.profile__info {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px 18px;
  grid-template-areas: 
  "name edit"
  "subname .";
  overflow: hidden;
}