.popup__title {
  color: #000;
  margin: 34px 36px 42px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width:550px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px 22px;
  }
}