.element__like-button {
  background: none;
  border: 0;
  background-image: url(../../../image/like.svg);
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  margin: 0;
  transition: opacity ease-in-out 0.4s;
  cursor: pointer;
}
.element__like-button:hover{
  opacity: 0.5;
}
